@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;800&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}



.middle-container{
  width:100vw;
  max-width:800px;
  margin:auto;
  border: rgb(235, 230, 230) 1px solid;
}

#coverphoto{
  width:100vw;
  max-width:800px;
  margin:auto;
}

#main-avatar-photo{
 width:150px;
 border-radius:50%;
 border:4px solid white;
 margin-top:-80px;
 margin-left:15px;
}

#headername{
   font-size:22px;
   font-weight: 700;
   margin-left:15px;
}

#headernamecont{
  display:flex;
}

#verified{
  width:25px;
  height:25px
}

#username{
  font-size:16px;
  font-weight: 400;
  margin-left:15px;
}

.joined{
  display:flex;
  align-items: center;
  margin-left:15px;
  margin-top:10px;
  margin-bottom:10px;
}

.joined>p{
  margin-top:3px;
}

#calendar{
  width:20px;
  margin-right:5px;
}

#follow-section{
  display:flex;
  margin-left:15px;
}

#follow-section>span{
  font-weight: bold;
  margin-right:5px;
}

#follow-section>p{
  margin-right:30px;
}

.under-cover{
  display:flex;
  justify-content: space-between;
}

.btn-following{
  background-color: #3083BE;
  height:40px;
  width:120px;
  color:white;
  font-weight: bold;
  border-radius: 25px;
  font-size:16px;
  letter-spacing: 0.7px;
  margin-top:10px;
  margin-right:15px;
  cursor: pointer;
}


.btn-follow{
  display:none;
  background-color: white;
  height:40px;
  width:120px;
  color:#3083BE;
  font-weight: bold;
  border-radius: 25px;
  border:#3083BE solid 1px;
  font-size:16px;
  letter-spacing: 0.7px;
  margin-top:10px;
  margin-right:15px;
  cursor: pointer;
}

.btn-unfollow{
  display:none;
  background-color: rgba(216, 11, 11,0.05);
  height:40px;
  width:120px;
  color:rgb(216, 11, 11);
  font-weight: bold;
  border-radius: 25px;
  border:rgb(216, 11, 11) solid 1px;
  font-size:16px;
  letter-spacing: 0.7px;
  margin-top:10px;
  margin-right:15px;
  cursor: pointer;
}


.tabs{
  display:flex;
  cursor: pointer;
}

.tabs>h4{
  padding: 30px 0px;
  width:25%;
  text-align:center;
  border-bottom:rgb(235, 230, 230) 1px solid;
}

.tabs>h4.active{
  border-bottom: solid 3px #3083BE;
  color:#3083BE;
}

/* Tweet styling */

.tweet-container{
  display:flex;
  padding: 10px;
  border-bottom: 1px lightgray solid;
}

.tweet-container>img{
  width:55px;
  height:55px;
  border-radius:50%;
  margin-left:15px;
}

.right-hand-side-tweet{
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  width:80%;
}

.user-info-tweet{
  display:flex;
}

.user-info-tweet>h2{
  margin-bottom:3px;
}

.user-info-tweet>h3{
  margin-bottom:3px;
  margin-left:3px;
  font-weight: 400;
}

.user-info-tweet>span{
margin:0px 3px;
}

.tweet-badge{
  width:18px;
  height:18px
}

.social-interaction{
  display:flex;
  padding-top:15px;
  justify-content: space-between;
}


.social-interaction-small>img{
  height:20px;
  width:20px;
  margin-right:10px;
}

.social-interaction-small{
  display:flex;
}

.social-interaction-small>p{
  font-size:12px;
  margin-top:2px;
}

